@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<MudText Typo="Typo.h5" >RED </MudText>
<MudChart ChartType="ChartType.Pie" InputData="@data" InputLabels="@label" Width="850" Height="350" LegendPosition="Position.Bottom"></MudChart>

@code{

    double[] data = { 1100, 650, 1700 };
    string[] label = { "Red","Blue","Green"};

}